@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True Namespace: Hangfire.Community.JobLauncher.Dashboard.Pages *@
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@inherits Hangfire.Dashboard.RazorPage
<div class="modal fade jobslauncher-dark" id="cronGeneratorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header jobslauncher-cron-modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <i class="glyphicon glyphicon-time"></i> Cron Expression Generator
                </h4>
            </div>

            <div class="modal-body jobslauncher-cron-modal-body">
                <div class="row">
                    <div class="col-md-7">

                        <ul class="nav nav-tabs jobslauncher-cron-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#tabMinutes" role="tab" data-toggle="tab">Minutes</a>
                            </li>
                            <li role="presentation">
                                <a href="#tabHours" role="tab" data-toggle="tab">Hours</a>
                            </li>
                            <li role="presentation">
                                <a href="#tabDayMonth" role="tab" data-toggle="tab">Day of Month</a>
                            </li>
                            <li role="presentation">
                                <a href="#tabMonth" role="tab" data-toggle="tab">Month</a>
                            </li>
                            <li role="presentation">
                                <a href="#tabDayWeek" role="tab" data-toggle="tab">Day of Week</a>
                            </li>
                        </ul>

                        <div class="tab-content jobslauncher-cron-tab-content">

                            <!-- Pestana Minutos -->
                            <div role="tabpanel" class="tab-pane active" id="tabMinutes">
                                <div class="form-group">
                                    <label>Every N minutes</label>
                                    <input type="number" id="minEveryN" class="form-control" min="1" value="1" placeholder="N">
                                </div>
                                <div class="form-group">
                                    <label>Specific minutes (comma separated)</label>
                                    <input type="text" id="minSpecific" class="form-control" placeholder="0,15,30,45">
                                </div>
                                <div class="form-group">
                                    <label>Range (from - to)</label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input type="number" id="minRangeFrom" class="form-control" min="0" max="59" value="0" placeholder="From">
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="number" id="minRangeTo" class="form-control" min="0" max="59" value="59" placeholder="To">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pestana Horas -->
                            <div role="tabpanel" class="tab-pane" id="tabHours">
                                <div class="form-group">
                                    <label>Every N hours</label>
                                    <input type="number" id="hourEveryN" class="form-control" min="1" value="1" placeholder="N">
                                </div>
                                <div class="form-group">
                                    <label>Specific hours (comma separated)</label>
                                    <input type="text" id="hourSpecific" class="form-control" placeholder="8,12,18">
                                </div>
                                <div class="form-group">
                                    <label>Range (from - to)</label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input type="number" id="hourRangeFrom" class="form-control" min="0" max="23" value="9" placeholder="From">
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="number" id="hourRangeTo" class="form-control" min="0" max="23" value="17" placeholder="To">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pestana Dia del mes -->
                            <div role="tabpanel" class="tab-pane" id="tabDayMonth">
                                <div class="form-group">
                                    <label>Every day</label>
                                    <input type="text" class="form-control" value="*" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Specific days (comma separated, e.g., 1,15)</label>
                                    <input type="text" id="dayMonthSpecific" class="form-control" placeholder="1,15">
                                </div>
                                <div class="form-group">
                                    <label>Every N days starting at day</label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input type="number" id="dayMonthEveryN" class="form-control" min="1" value="1" placeholder="N">
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="number" id="dayMonthStart" class="form-control" min="1" max="31" value="1" placeholder="Start day">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Specific day of month (choose one or many)</label>
                                    <div class="row jobslauncher-no-margin">
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="1"> 01</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="2"> 02</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="3"> 03</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="4"> 04</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="5"> 05</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="6"> 06</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="7"> 07</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="8"> 08</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="9"> 09</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="10"> 10</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="11"> 11</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="12"> 12</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="13"> 13</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="14"> 14</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="15"> 15</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="16"> 16</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="17"> 17</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="18"> 18</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="19"> 19</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="20"> 20</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="21"> 21</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="22"> 22</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="23"> 23</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="24"> 24</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="25"> 25</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="26"> 26</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="27"> 27</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="28"> 28</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="29"> 29</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="30"> 30</label></div>
                                        <div class="col-xs-3"><label><input type="checkbox" class="day-month-check" value="31"> 31</label></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pestana Mes -->
                            <div role="tabpanel" class="tab-pane" id="tabMonth">
                                <div class="form-group">
                                    <label>Every month</label>
                                    <input type="text" class="form-control" value="*" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Specific months (comma separated, 1-12)</label>
                                    <input type="text" id="monthSpecific" class="form-control" placeholder="1,6,12">
                                </div>
                                <div class="form-group">
                                    <label>Specific months (choose)</label>
                                    <div class="row jobslauncher-no-margin">
                                        <div class="col-xs-4"><label><input type="checkbox" class="month-check" value="1"> January</label></div>
                                        <div class="col-xs-4"><label><input type="checkbox" class="month-check" value="2"> February</label></div>
                                        <div class="col-xs-4"><label><input type="checkbox" class="month-check" value="3"> March</label></div>
                                        <div class="col-xs-4"><label><input type="checkbox" class="month-check" value="4"> April</label></div>
                                        <div class="col-xs-4"><label><input type="checkbox" class="month-check" value="5"> May</label></div>
                                        <div class="col-xs-4"><label><input type="checkbox" class="month-check" value="6"> June</label></div>
                                        <div class="col-xs-4"><label><input type="checkbox" class="month-check" value="7"> July</label></div>
                                        <div class="col-xs-4"><label><input type="checkbox" class="month-check" value="8"> August</label></div>
                                        <div class="col-xs-4"><label><input type="checkbox" class="month-check" value="9"> September</label></div>
                                        <div class="col-xs-4"><label><input type="checkbox" class="month-check" value="10"> October</label></div>
                                        <div class="col-xs-4"><label><input type="checkbox" class="month-check" value="11"> November</label></div>
                                        <div class="col-xs-4"><label><input type="checkbox" class="month-check" value="12"> December</label></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pestana Dia de la semana -->
                            <div role="tabpanel" class="tab-pane" id="tabDayWeek">
                                <div class="form-group">
                                    <label>Every day of week</label>
                                    <input type="text" class="form-control" value="*" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Specific days of week (choose)</label>
                                    <div class="row jobslauncher-no-margin">
                                        <div class="col-xs-6"><label><input type="checkbox" class="weekday-check" value="1"> Monday</label></div>
                                        <div class="col-xs-6"><label><input type="checkbox" class="weekday-check" value="2"> Tuesday</label></div>
                                        <div class="col-xs-6"><label><input type="checkbox" class="weekday-check" value="3"> Wednesday</label></div>
                                        <div class="col-xs-6"><label><input type="checkbox" class="weekday-check" value="4"> Thursday</label></div>
                                        <div class="col-xs-6"><label><input type="checkbox" class="weekday-check" value="5"> Friday</label></div>
                                        <div class="col-xs-6"><label><input type="checkbox" class="weekday-check" value="6"> Saturday</label></div>
                                        <div class="col-xs-6"><label><input type="checkbox" class="weekday-check" value="0"> Sunday</label></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Specific days (comma separated, 0-7)</label>
                                    <input type="text" id="weekdaySpecific" class="form-control" placeholder="1,3,5">
                                </div>
                                <div class="form-group">
                                    <label>Every N days starting on day</label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input type="number" id="weekdayEveryN" class="form-control" min="1" value="1" placeholder="N">
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="number" id="weekdayStart" class="form-control" min="0" max="7" value="1" placeholder="Start day">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Preview</strong></div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Current expression</label>
                                    <input type="text" id="cronPreviewExpression" class="form-control jobslauncher-font-mono" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <p id="cronDescription" class="jobslauncher-cron-description"></p>
                                </div>
                                <button type="button" class="btn btn-sm btn-info" id="btnShowExecutions">Show next executions</button>
                                <div id="cronExecutionsPreview" class="jobslauncher-cron-executions-preview">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnGenerateCron">Generate</button>
            </div>

        </div>
    </div>
</div>
