@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True Namespace: Hangfire.Community.JobLauncher.Dashboard.Pages *@
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@inherits Hangfire.Dashboard.RazorPage
<div role="tabpanel" class="tab-pane fade in active jobslauncher-dark" id="launchTab">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Job Configuration</div>
                <div class="panel-body">

                    <div class="form-group">
                        <label>Mode</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="launchMode" value="assisted" checked> Assisted (assembly)
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="launchMode" value="manual"> Manual (JSON)
                            </label>
                        </div>
                    </div>

                    <div id="assistedFields">
                        <div class="form-group">
                            <label>Class Name</label>
                            <div class="input-group">
                                <input type="text" id="classNameAssisted" class="form-control" placeholder="Namespace.ClassName">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="btnLoadMethods" type="button">Load Methods</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group jobslauncher-hidden" id="methodSelectGroup">
                            <label>Method</label>
                            <select id="methodSelect" class="form-control">
                                <option value="">-- Select method --</option>
                            </select>
                        </div>
                        <div id="paramsContainer"></div>
                    </div>

                    <div id="manualFields" class="jobslauncher-hidden">
                        <div class="form-group">
                            <label>Class Name</label>
                            <input type="text" id="classNameManual" class="form-control" placeholder="Namespace.ClassName">
                        </div>
                        <div class="form-group">
                            <label>Method Name</label>
                            <input type="text" id="methodNameManual" class="form-control" placeholder="MethodName">
                        </div>
                        <div class="form-group">
                            <label>Parameters (JSON)</label>
                            <textarea id="jsonParams" class="form-control" rows="6"
                                      placeholder='{"to":"email@example.com","subject":"Test"}'></textarea>
                            <div class="help-block">
                                <button type="button" class="btn btn-xs btn-default" id="validateJsonBtn">Validate</button>
                                <button type="button" class="btn btn-xs btn-default" id="formatJsonBtn">Format</button>
                                <button type="button" class="btn btn-xs btn-info" id="suggestJsonBtn">Suggest JSON</button>
                                <span id="jsonValidationMsg" class="text-danger jobslauncher-hidden">Invalid JSON</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Execution Mode</label>
                        <div id="executionModeGroup">
                            <label class="radio-inline"><input type="radio" name="execMode" value="FireAndForget" checked> Fire &amp; Forget</label>
                            <label class="radio-inline"><input type="radio" name="execMode" value="Schedule"> Schedule (minutes)</label>
                            <label class="radio-inline"><input type="radio" name="execMode" value="ScheduleDateTime"> Schedule (date)</label>
                            <label class="radio-inline"><input type="radio" name="execMode" value="Recurring"> Recurring</label>
                            <label class="radio-inline"><input type="radio" name="execMode" value="Continuation"> Continuation</label>
                        </div>
                    </div>

                    <div id="scheduleFields" class="jobslauncher-hidden">
                        <div class="form-group">
                            <label>Delay (minutes)</label>
                            <input type="number" id="delayMinutes" class="form-control" min="1" value="30">
                        </div>
                    </div>

                    <div id="scheduleDateTimeFields" class="jobslauncher-hidden">
                        <div class="form-group">
                            <label>Scheduled Date (UTC)</label>
                            <input type="datetime-local" id="scheduledDateTime" class="form-control">
                        </div>
                    </div>

                    <div id="recurringFields" class="jobslauncher-hidden">
                        <div class="form-group">
                            <label>Cron Expression</label>
                            <div class="input-group">
                                <input type="text" id="cronExpression" class="form-control" placeholder="* * * * *">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="btnValidateCron" type="button">Validate</button>
                                    <button type="button" class="btn btn-default" id="btnOpenCronGenerator">Generate</button>
                                </span>
                            </div>
                            <div id="cronPreview" class="jobslauncher-cron-preview text-info"></div>
                        </div>
                        <div class="form-group" id="recurringEngineGroup">
                            <label>Recurring Engine</label>
                            <select id="recurringEngine" class="form-control"></select>
                            <span id="dynamicJobsWarning" class="text-warning jobslauncher-hidden">
                                DynamicJobs no esta instalado en el dashboard o workers.
                            </span>
                        </div>
                    </div>

                    <div id="continuationFields" class="jobslauncher-hidden">
                        <div class="form-group">
                            <label>Parent Job Id</label>
                            <input type="text" id="parentJobId" class="form-control" placeholder="job-id">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Queue</label>
                        <input type="text" id="queue" class="form-control" list="queueList" value="default">
                        <datalist id="queueList"></datalist>
                        <span id="criticalQueueWarning" class="text-warning jobslauncher-hidden">
                            Esta cola requiere confirmacion.
                        </span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Actions</div>
                <div class="panel-body">
                    <button type="button" class="btn btn-info btn-block" id="btnPreview">Preview</button>
                    <button type="button" class="btn btn-success btn-block" id="btnLaunch">Launch Job</button>
                    <button type="button" class="btn btn-warning btn-block jobslauncher-mt-5" id="btnSaveAsTemplate">Save as Template</button>
                    <div id="launchResult" class="alert jobslauncher-launch-result"></div>
                </div>
            </div>
            <div class="panel panel-default jobslauncher-hidden" id="previewPanel">
                <div class="panel-heading">Preview</div>
                <div class="panel-body">
                    <pre id="previewContent"></pre>
                </div>
            </div>
        </div>
    </div>
</div>
